$backgroundColor: #e6e6e6;

.link_btn {
    width: 200px;
    height: 200px;
}

.header {
    color: white;
    text-align: center;
}

.footer{
    // background-color: rgb(218, 218, 219);
    background-color: black;
    color: white;
    text-align: center;
}